<h1>Please provide some additional information about yourself, if you want to. All fields are optional! </h1>

<div class="middle">
<form class="form" method='POST'>
            <input type='text' name='age' placeholder='Age' autocomplete='off'>
            <input type='text' name='city' placeholder='City' autocomplete='off'>
             <input type='text' name='url' placeholder='Homepage' autocomplete='off'>
             <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="button"> Continue </button>
        </form>
</div>