
<div class="top">
<h1> <a href="https://en.wikipedia.org/wiki/Vinmonopolet">Help free the Norwegians from their puritanical alcohol laws!</a></h1>
<h2 class="header">They are not allowed to buy alcohol after 6pm on weekends! </h2>
<h2 class="header" style="margin-top: 5px;">Alcohol above 4% is sold from state owned monopoly stores!</h2>
<h2 class="login"><a href="/login">Login</a></h2>
</div>

    
<div class="middle">
<form class="form" method='POST'>
            <input type='text' name='firstName' placeholder='FirstName' autocomplete='off'>
            <input type='text' name='lastName' placeholder='Last Name' autocomplete='off'>
            <input type='text' name='email' placeholder='Email address' autocomplete='off'>
            <input type='text' name='password' placeholder='Password' autocomplete='off'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="button"> Sign Up </button>     
</form>
</div>

<h2 class="signup">Sign up today, and our petition might help the Norwegians tomorrow!</h2>

