
<h1>Please sign below to make your support official!</h1>


    <div class="middle">
        <form class="form" method='POST'>
            <input type="hidden" id="signature" name="signature" placeholder='Please sign here'>
            <canvas id="canvas"></canvas>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="button"> submit </button>
        </form>
    </div>





   

