* {
    margin: 0;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
}

.form {
    height: 50vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
   
}

.formreg {
    background-repeat: no-repeat;
    background-size: 1
}

.middle {
  background: url("./scream2.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 750px;
  width: 100vw;
  height: 75vh;
  padding: 0px;
  opacity: 0.7;
}

.middlesign {
  background: url("./scream2.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 750px;
  width: 100vw;
  height: 75vh;
  padding: 0px;
}


img {
  display: flex;
  justify-content: center;
  border: solid black;
  width: 560px;
  height: 100px;
  align-items: center;
  background-color: white;

}

canvas {
  border: 1px solid black;
  width: 560px;
  height: 100px;
}

section {
  width: 500px;
  height: 500px;
}

body {
  background-color: rgb(180, 175, 175);
}

canvas {
    display: flex;
    border: 1px solid black;
    z-index: 999;
    background-color: white;
    
}

button {
    border: 1px solid black;
    background: white;
    color: black;
}

.thanks {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 999;
  color: black;
  font-size: 30px;
}

.errorlogin {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.login {
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
}

.signers {
   display: flex;
  justify-content: center;
}

.delete {
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.deleteform {
  height: 3vh;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.signerslist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  text-align: center;
  color: black;
  margin-top: 30px;
  font-size: 22px;
}

.signerslist a {
color: black;
font-size: 25px;
margin-top: 10px;
}

.signerslist #text {
color: black;
font-size: 15px;
}

.top {
  background-color: white;
}

.signup {
  background-color: rgb(138, 190, 138);
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 999;
  margin-top: 10px;
}